* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
}
body .container {
  width: 1280px;
  margin: 0 auto;
}
body .container header {
  width: 1280px;
  height: 15vh;
  display: grid;
  grid-template-columns: 1fr 5fr 4fr 2fr;
  grid-template-areas: "logo nav search social";
  align-items: center;
  padding: 0 50px;
  gap: 24px;
}
body .container header .logo {
  grid-area: "logo";
}
body .container header .logo img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}
body .container header nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}
body .container header nav a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
body .container header nav .action {
  color: #FF8ADD;
  font-weight: bold;
}
body .container header .search-bar {
  margin-left: 70px;
  padding: 0 20px;
  width: 100%;
  height: 35%;
  border: 2px solid #FF8ADD;
  border-radius: 24px;
  align-items: center;
  display: grid;
  grid-template-columns: 15fr 1fr;
}
body .container header .search-bar input {
  width: 70%;
  border: none;
  outline: none;
  font-size: 18px;
}
body .container header .search-bar i {
  font-size: 24px;
}
body .container header .icon {
  justify-self: end;
  display: flex;
  gap: 16px;
}
body .container header .icon .material-icons {
  font-size: 42px;
}
body .container .banner {
  width: 1280px;
  height: 50vh;
  background-color: #93DEFD;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "baner-info img";
  background: #93DEFD;
  margin: 80px 0;
  padding: 0 50px;
}
body .container .banner img {
  grid-area: img;
  height: 100%;
  overflow: hidden;
  justify-self: end;
}
body .container .banner .baner-info {
  grid-area: baner-info;
  height: 100%;
  justify-self: flex-start;
  display: grid;
  justify-content: flex-end;
  text-align: right;
  gap: 24px;
  padding-top: 50px;
}
body .container .banner .baner-info h1:nth-child(1) {
  font-size: 48px;
  color: #FF8ADD;
  justify-self: flex-start;
  line-height: 1px;
}
body .container .banner .baner-info h1:nth-child(2) {
  font-size: 64px;
  justify-self: flex-start;
  color: white;
  line-height: 0%;
}
body .container .banner .baner-info p {
  text-align: left;
}
body .container .banner .baner-info button {
  width: 150px;
  height: 50px;
  padding: 8px 24px;
  background: #FF8ADD;
  color: white;
  border: none;
  outline: none;
  justify-self: flex-start;
}
body .container .banner .baner-info button:hover {
  background-color: #ff69b4;
}
body .container .popular-pordouct {
  width: 90%;
  margin: 10vh auto;
}
body .container .popular-pordouct h1 {
  font-size: 24px;
  margin-bottom: 16px;
}
body .container .popular-pordouct .cards-container {
  width: 100%;
  overflow-x: auto;
}
body .container .popular-pordouct .cards-container .cards {
  width: 147vw;
  display: flex;
  gap: 32px;
}
body .container .popular-pordouct .cards-container .cards .product-card {
  width: 329px;
  height: 490px;
  background-color: #ffffff;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 15px;
  font-family: Arial, sans-serif;
}
body .container .popular-pordouct .cards-container .cards .product-card .product-image {
  position: relative;
  width: 332px;
  height: 280px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}
body .container .popular-pordouct .cards-container .cards .product-card .product-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .container .popular-pordouct .cards-container .cards .product-card .product-image .product-social {
  width: 100%;
  position: absolute;
  bottom: 10px;
  padding: 0 20px 0 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 6fr;
  gap: 8px;
}
body .container .popular-pordouct .cards-container .cards .product-card .product-image .product-social a:nth-child(4) {
  color: #FF8ADD;
  justify-self: end;
  background-color: white;
  width: 25px;
  height: 25px;
  display: grid;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 50%;
  padding: 2px 0px 0px 0px;
}
body .container .popular-pordouct .cards-container .cards .product-card .product-image .product-social a:nth-child(4):hover {
  color: red;
}
body .container .popular-pordouct .cards-container .cards .product-card .product-image .product-social a:nth-child(1) {
  color: white;
  background-color: blue;
}
body .container .popular-pordouct .cards-container .cards .product-card .product-image .product-social a:nth-child(2) {
  color: white;
  background-color: #E4405C;
}
body .container .popular-pordouct .cards-container .cards .product-card .product-image .product-social a:nth-child(3) {
  color: #33ABDF;
  background-color: white;
}
body .container .popular-pordouct .cards-container .cards .product-card .product-image .product-social a:nth-child(1), body .container .popular-pordouct .cards-container .cards .product-card .product-image .product-social a:nth-child(2), body .container .popular-pordouct .cards-container .cards .product-card .product-image .product-social a:nth-child(3) {
  width: 20px;
  height: 20px;
  text-decoration: none;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s;
}
body .container .popular-pordouct .cards-container .cards .product-card .product-image .product-social a:nth-child(1):hover, body .container .popular-pordouct .cards-container .cards .product-card .product-image .product-social a:nth-child(2):hover, body .container .popular-pordouct .cards-container .cards .product-card .product-image .product-social a:nth-child(3):hover {
  background-color: #e0e0e0;
}
body .container .popular-pordouct .cards-container .cards .product-card .product-info {
  padding: 12px;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr 3fr;
  grid-template-columns: auto auto;
  gap: 0px;
}
body .container .popular-pordouct .cards-container .cards .product-card .product-info h1 {
  padding-left: 0px;
  font-weight: bold;
  font-size: 24px;
  line-height: 0px;
}
body .container .popular-pordouct .cards-container .cards .product-card .product-info h3 {
  grid-area: 2/1/3/3;
  font-size: 14px;
  font-weight: lighter;
  line-height: 0px;
}
body .container .popular-pordouct .cards-container .cards .product-card .product-info .product-rating {
  grid-area: 3/1/4/2;
  color: #FFD700;
  align-self: center;
  font-size: 18px;
  margin-top: -10px;
}
body .container .popular-pordouct .cards-container .cards .product-card .product-info .product-price {
  grid-area: 3/2/4/3;
  font-size: 22px;
  font-weight: bold;
  align-self: center;
  justify-self: end;
  margin-top: -10px;
}
body .container .popular-pordouct .cards-container .cards .product-card .product-info .buttons {
  grid-area: 4/1/5/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
body .container .popular-pordouct .cards-container .cards .product-card .product-info .buttons button {
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: -6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
body .container .popular-pordouct .cards-container .cards .product-card .product-info .buttons button.detail-button {
  background-color: #add8e6;
  color: #333;
}
body .container .popular-pordouct .cards-container .cards .product-card .product-info .buttons button.detail-button:hover {
  background-color: #87ceeb;
}
body .container .popular-pordouct .cards-container .cards .product-card .product-info .buttons button.order-button {
  background-color: #ffb6c1;
  color: #333;
}
body .container .popular-pordouct .cards-container .cards .product-card .product-info .buttons button.order-button:hover {
  background-color: #ff69b4;
}
body .container .product-container {
  width: 1280px;
  margin-top: 88px;
  margin-bottom: 96px;
}
body .container .product-container h1 {
  padding-left: 50px;
  padding-bottom: 24px;
}
body .container .product-container .cards {
  width: 92%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 15px;
  margin: 0 50px;
}
body .container .product-container .cards .product-card {
  width: 329px;
  height: 490px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 15px;
  font-family: Arial, sans-serif;
}
body .container .product-container .cards .product-card .product-image {
  position: relative;
  width: 332px;
  height: 280px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}
body .container .product-container .cards .product-card .product-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .container .product-container .cards .product-card .product-image .product-social {
  width: 100%;
  position: absolute;
  bottom: 10px;
  padding: 0 20px 0 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 6fr;
  gap: 8px;
}
body .container .product-container .cards .product-card .product-image .product-social a:nth-child(4) {
  margin-left: 52%;
  color: #FF8ADD;
  justify-self: end;
  background-color: white;
  width: 25px;
  height: 25px;
  display: grid;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 50%;
  padding: 2px 0px 0px 0px;
}
body .container .product-container .cards .product-card .product-image .product-social a:nth-child(4):hover {
  color: red;
}
body .container .product-container .cards .product-card .product-image .product-social a:nth-child(1) {
  color: white;
  background-color: blue;
}
body .container .product-container .cards .product-card .product-image .product-social a:nth-child(2) {
  color: white;
  background-color: #E4405C;
}
body .container .product-container .cards .product-card .product-image .product-social a:nth-child(3) {
  color: #33ABDF;
  background-color: white;
}
body .container .product-container .cards .product-card .product-image .product-social a:nth-child(1), body .container .product-container .cards .product-card .product-image .product-social a:nth-child(2), body .container .product-container .cards .product-card .product-image .product-social a:nth-child(3) {
  width: 20px;
  height: 20px;
  text-decoration: none;
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 16px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s;
}
body .container .product-container .cards .product-card .product-image .product-social a:nth-child(1):hover, body .container .product-container .cards .product-card .product-image .product-social a:nth-child(2):hover, body .container .product-container .cards .product-card .product-image .product-social a:nth-child(3):hover {
  background-color: #e0e0e0;
}
body .container .product-container .cards .product-card .product-info {
  padding: 12px;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr 3fr;
  grid-template-columns: auto auto;
  gap: 0px;
}
body .container .product-container .cards .product-card .product-info h1 {
  padding-left: 0px;
  font-weight: bold;
  font-size: 24px;
  line-height: 0px;
}
body .container .product-container .cards .product-card .product-info h3 {
  grid-area: 2/1/3/3;
  font-size: 14px;
  font-weight: lighter;
  line-height: 0px;
}
body .container .product-container .cards .product-card .product-info .product-rating {
  grid-area: 3/1/4/2;
  color: #FFD700;
  align-self: center;
  font-size: 18px;
  margin-top: -10px;
}
body .container .product-container .cards .product-card .product-info .product-price {
  grid-area: 3/2/4/3;
  font-size: 22px;
  font-weight: bold;
  align-self: center;
  justify-self: end;
  margin-top: -10px;
}
body .container .product-container .cards .product-card .product-info .buttons {
  grid-area: 4/1/5/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
body .container .product-container .cards .product-card .product-info .buttons button {
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: -6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
body .container .product-container .cards .product-card .product-info .buttons button.detail-button {
  background-color: #add8e6;
  color: #333;
}
body .container .product-container .cards .product-card .product-info .buttons button.detail-button:hover {
  background-color: #87ceeb;
}
body .container .product-container .cards .product-card .product-info .buttons button.order-button {
  background-color: #ffb6c1;
  color: #333;
}
body .container .product-container .cards .product-card .product-info .buttons button.order-button:hover {
  background-color: #ff69b4;
}
body .container .new-stock {
  width: 1180px;
  margin: auto;
}
body .container .new-stock h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}
body .container .new-stock .slide-wrapp::-webkit-scrollbar {
  display: none;
}
body .container .new-stock .slide-wrapp {
  width: 100%;
  overflow-x: auto;
}
body .container .new-stock .slide-wrapp .slide {
  height: 50vh;
  width: 100vw;
  display: grid;
  grid-template-areas: "photo1 photo2 photo2 photo5 photo5 photo7 photo8 photo8" "photo1 photo3 photo4 photo6 photo6 photo7 photo9 photo10";
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}
body .container .new-stock .slide-wrapp .slide #photo1 {
  grid-area: photo1;
}
body .container .new-stock .slide-wrapp .slide #photo2 {
  grid-area: photo2;
}
body .container .new-stock .slide-wrapp .slide #photo3 {
  grid-area: photo3;
}
body .container .new-stock .slide-wrapp .slide #photo4 {
  grid-area: photo4;
}
body .container .new-stock .slide-wrapp .slide #photo5 {
  grid-area: photo5;
}
body .container .new-stock .slide-wrapp .slide #photo6 {
  grid-area: photo6;
}
body .container .new-stock .slide-wrapp .slide #photo7 {
  grid-area: photo7;
}
body .container .new-stock .slide-wrapp .slide #photo8 {
  grid-area: photo8;
}
body .container .new-stock .slide-wrapp .slide #photo9 {
  grid-area: photo9;
}
body .container .new-stock .slide-wrapp .slide #photo10 {
  grid-area: photo10;
}
body .container .new-stock .slide-wrapp .slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
body .container footer {
  height: 70vh;
  width: 100%;
  background: #DFF5FF;
  padding: 0 50px;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  align-items: center;
  padding-bottom: 3%;
}
body .container footer h2 {
  grid-area: 1/1/2/2;
  font-size: 32px;
  color: #80004E;
}
body .container footer .information-clothes {
  grid-area: 2/1/3/2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
body .container footer .information-clothes a {
  text-decoration: none;
  color: #7A7373;
  font-size: 14px;
}
body .container footer .information-clothes .sign-up {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 25px;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  align-items: center;
  gap: 10px;
}
body .container footer .information-clothes .sign-up h4 {
  font-size: 16px;
  color: #000000;
  text-align: center;
}
body .container footer .information-clothes .sign-up p {
  font-size: 12px;
  color: #93DEFD;
  text-align: center;
}
body .container footer .information-clothes .sign-up button {
  width: 50%;
  padding: 8px 24px;
  background: #FF8ADD;
  color: white;
  border: none;
  outline: none;
  justify-self: center;
}
body .container footer .information-clothes .sign-up button:hover {
  background-color: #ff69b4;
}
body .container footer .foot-last {
  grid-area: 3/1/4/2;
  font-size: 14px;
}
body .container .information h4 {
  color: #454141;
}
body .container .information:nth-child(4) {
  background-color: white;
  border-radius: 10px;
  padding: 3%;
}
body .container .information:nth-child(4) h4 {
  color: #FF8ADD;
}
body .container .information:nth-child(4) p {
  color: #0EB1F3;
  font-size: 0.8rem;
  padding: 3% 0%;
}
body .container .information:nth-child(4) button {
  margin-top: 0;
  padding: 3px 8px;
  border-radius: 100px;
  border: none;
  color: white;
  font-weight: bold;
  background-color: #FF8ADD;
  margin-bottom: 5%;
}

@media (max-width: 1024px) and (min-width: 768px) {
  body {
    width: 100%;
  }
  body .container {
    width: 100%;
  }
  body .container header {
    padding: 0 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "logo search-bar search-bar icon" "nav nav nav nav";
  }
  body .container header .search-bar {
    width: 90%;
    grid-area: search-bar;
    height: 50%;
  }
  body .container header .icon {
    grid-area: icon;
  }
  body .container header nav {
    grid-area: nav;
    width: 100%;
    padding: 2% 0%;
    background-color: #89dcfe;
  }
  body .container main .popular-pordouct {
    width: 100%;
  }
  body .container main .popular-pordouct h1 {
    font-size: 32px;
  }
  body .container main .popular-pordouct .cards-container {
    width: 100%;
    overflow-x: auto;
  }
  body .container main .popular-pordouct .cards-container .cards {
    width: 305vw;
    padding-right: 0;
  }
  body .container main .banner {
    padding: 0 0 0 10px;
    width: 100%;
    height: 30vh;
    display: grid;
  }
  body .container main .banner img {
    justify-self: flex-end;
  }
  body .container main .banner .banner-info {
    justify-self: flex-start;
  }
  body .container main .banner .banner-info h1:nth-child(1) {
    padding-top: 10%;
    padding-bottom: 2%;
    font-size: 2.5rem;
  }
  body .container main .banner .banner-info h1:nth-child(2) {
    font-size: 2.5rem;
  }
  body .container main .banner .banner-info button {
    margin-bottom: 15%;
    width: 35%;
    height: 40%;
  }
  body .container main .new-stock {
    width: 100%;
  }
  body .container main .new-stock h3 {
    font-size: 32px;
  }
  body .container main .new-stock .slide-wrapp .slide {
    height: 30vh;
    width: 147vw;
  }
  body .container main .product-container {
    width: 100%;
    padding: 0 auto;
  }
  body .container main .product-container h1 {
    margin: 0 0;
    font-size: 32px;
  }
  body .container main .product-container .cards {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px 16px;
  }
  body .container main .product-container .cards .product-card:nth-child(9) {
    display: none;
  }
  body .container footer {
    padding-top: 4%;
    width: 100%;
    height: 30vh;
    margin: 0 auto;
  }
  body .container footer .information-clothes {
    width: 88%;
    display: grid;
    grid-template-columns: repeat(1fr);
  }
  body .container footer .information-clothes .information:nth-child(4) {
    display: none;
  }
}
@media (max-width: 768px) {
  body {
    width: 100%;
  }
  body .container {
    width: 100%;
    overflow: hidden;
  }
  body .container header {
    padding: 0 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 0.5fr 1fr;
  }
  body .container header .logo {
    grid-area: 1/1/2/2;
    margin: 0 auto;
  }
  body .container header .logo img {
    width: 50px;
    height: 50px;
  }
  body .container header .icon {
    grid-area: 1/2/2/3;
  }
  body .container header .icon i {
    width: 25px;
    height: 25px;
    font-size: 24px;
  }
  body .container header .search-bar {
    grid-area: 2/1/3/3;
    width: 100%;
    height: 100%;
    margin: 0 7%;
  }
  body .container header nav {
    grid-area: 3/1/4/3;
    margin: 0 7%;
    width: 100%;
  }
  body .container header nav a {
    font-size: 14px;
  }
  body .container main .popular-pordouct {
    width: 100%;
  }
  body .container main .popular-pordouct h1 {
    font-size: 24px;
    margin: 0 10px 10px 10px;
  }
  body .container main .popular-pordouct .cards-container {
    width: 100%;
    overflow-x: auto;
  }
  body .container main .popular-pordouct .cards-container .cards {
    width: 670vw;
    padding: 0 10px;
  }
  body .container main .banner {
    padding: auto 5px;
    width: 100%;
    height: 35vh;
  }
  body .container main .banner img {
    width: 100%;
  }
  body .container main .banner .baner-info {
    font-size: 14px;
    gap: none;
  }
  body .container main .banner .baner-info h1 {
    font-size: 14px;
  }
  body .container main .banner .baner-info p {
    font-size: 8px;
  }
  body .container main .new-stock {
    display: none;
  }
  body .container main .product-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .container main .product-container h1 {
    font-size: 14px;
  }
  body .container main .product-container .cards {
    padding: 0 7%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
  }
  body .container footer {
    height: 50vh;
    gap: 0;
  }
  body .container footer h2 {
    font-size: 14px;
  }
  body .container footer .information {
    font-size: 12px;
  }
  body .container footer .information a {
    font-size: 10px;
  }
  body .container footer .information:last-child {
    display: none;
  }
  body .container footer .foot-last {
    font-size: 12px;
  }
}/*# sourceMappingURL=bag.css.map */