* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
}
body .container {
  width: 1280px;
  margin: 0 auto;
}
body main {
  width: 1280px;
}

@media (max-width: 1024px) and (min-width: 768px) {
  body {
    width: 100%;
  }
  body .container header {
    width: 69%;
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-areas: "logo search-bar search-bar icon" "nav nav nav nav";
  }
  body .container header .search-bar {
    width: 69%;
    grid-area: search-bar;
    margin-left: 10%;
    height: 25%;
  }
  body .container header .icon {
    grid-area: icon;
    margin-right: 58%;
  }
  body .container header nav {
    grid-area: nav;
    width: 91%;
    padding: 2% 0%;
    background-color: #89DCFE;
  }
  body .container main .popular-pordouct .cards {
    width: 61%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "product-card product-card";
    justify-items: space-between;
  }
  body .container main .popular-pordouct .cards .product-card:nth-child(3) {
    display: none;
  }
  body .container main .popular-pordouct .cards .product-card:nth-child(4) {
    display: none;
  }
  body .container main .popular-pordouct .cards .product-card:nth-child(5) {
    display: none;
  }
  body .container main .popular-pordouct .cards .product-card:nth-child(6) {
    display: none;
  }
  body .container main .popular-pordouct .cards .product-card:nth-child(7) {
    display: none;
  }
  body .container main .banner {
    width: 65%;
    height: 30vh;
  }
  body .container main .banner img {
    margin-right: 5%;
  }
  body .container main .banner .baner-info h1:nth-child(1) {
    padding-top: 10%;
    padding-bottom: 2%;
    font-size: 2.5rem;
  }
  body .container main .banner .baner-info h1:nth-child(2) {
    font-size: 2.5rem;
  }
  body .container main .banner .baner-info button {
    margin-bottom: 15%;
    width: 35%;
    height: 40%;
  }
  body .container .product-container .cards {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "product-card product-card";
    justify-items: space-between;
  }
  body .container .product-container .cards .product-card:nth-child(3) {
    display: none;
  }
  body .container .product-container .cards .product-card:nth-child(4) {
    display: none;
  }
  body .container .product-container .cards .product-card:nth-child(5) {
    display: none;
  }
  body .container .product-container .cards .product-card:nth-child(6) {
    display: none;
  }
  body .container .product-container .cards .product-card:nth-child(7) {
    display: none;
  }
  body .container .product-container .cards .product-card:nth-child(8) {
    display: none;
  }
  body .container .product-container .cards .product-card:nth-child(9) {
    display: none;
  }
  body .container .clothes-container .new-stock .slide-wrapp {
    width: 61%;
    height: 30vh;
    border-radius: 10px;
    overflow-y: hidden;
  }
  body .container .clothes-container .new-stock .slide-wrapp .slide {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10fr);
    grid-template-areas: "photo1 photo1 photo2 photo2 photo2 photo7 photo7 photo10" "photo1 photo1  photo2 photo2 photo2 photo7 photo7 photo10" "photo1 photo1 photo3 photo4 photo5 photo6 photo8 photo9";
  }
  body .container .clothes-container .new-stock .slide-wrapp .slide #photo1 {
    grid-area: photo1;
  }
  body .container .clothes-container .new-stock .slide-wrapp .slide #photo2 {
    grid-area: photo2;
  }
  body .container .clothes-container .new-stock .slide-wrapp .slide #photo3 {
    grid-area: photo3;
  }
  body .container .clothes-container .new-stock .slide-wrapp .slide #photo4 {
    grid-area: photo4;
  }
  body .container .clothes-container .new-stock .slide-wrapp .slide #photo6 {
    grid-area: photo6;
  }
  body .container .clothes-container .new-stock .slide-wrapp .slide #photo7 {
    grid-area: photo7;
  }
  body .container .clothes-container .new-stock .slide-wrapp .slide #photo8 {
    grid-area: photo8;
  }
  body .container .clothes-container .new-stock .slide-wrapp .slide #photo9 {
    grid-area: photo9;
  }
  body .container .clothes-container .new-stock .slide-wrapp .slide #photo10 {
    grid-area: photo10;
  }
  body .container .clothes-container .banner {
    width: 65%;
    height: 30vh;
  }
  body .container .clothes-container .banner img {
    margin-right: 5%;
  }
  body .container .clothes-container .banner .baner-info h1:nth-child(1) {
    padding-top: 10%;
    padding-bottom: 2%;
    font-size: 2.5rem;
  }
  body .container .clothes-container .banner .baner-info h1:nth-child(2) {
    font-size: 2.5rem;
  }
  body .container .clothes-container .banner .baner-info button {
    margin-bottom: 15%;
    width: 35%;
    height: 40%;
  }
  body .container .clothes-container .product-container .cards {
    width: 61%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "product-card product-card";
    justify-items: space-between;
  }
  body .container .clothes-container .product-container .cards .product-card:nth-child(3) {
    display: none;
  }
  body .container .clothes-container .product-container .cards .product-card:nth-child(4) {
    display: none;
  }
  body .container .clothes-container .product-container .cards .product-card:nth-child(5) {
    display: none;
  }
  body .container .clothes-container .product-container .cards .product-card:nth-child(6) {
    display: none;
  }
  body .container .clothes-container .product-container .cards .product-card:nth-child(7) {
    display: none;
  }
  body .container .clothes-container .product-container .cards .product-card:nth-child(8) {
    display: none;
  }
  body .container .clothes-container .product-container .cards .product-card:nth-child(9) {
    display: none;
  }
  body .container footer {
    width: 100%;
    height: 30vh;
    margin: 0 auto;
  }
  body .container footer .information-clothes {
    width: 88%;
    display: grid;
    grid-template-columns: repeat(1fr);
  }
  body .container footer .information-clothes .information:nth-child(4) {
    display: none;
  }
}
header {
  width: 1280px;
  height: 15vh;
  display: grid;
  grid-template-columns: 1fr 5fr 4fr 2fr;
  grid-template-areas: "logo nav search social";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
  gap: 24px;
}
header .logo {
  grid-area: "logo";
}
header .logo img {
  width: 100px;
  height: 100px;
  border-radius: 20px;
}
header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}
header nav a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
header nav .action {
  color: #FF8ADD;
  font-weight: bold;
}
header .search-bar {
  margin-left: 70px;
  padding: 0 20px;
  width: 100%;
  height: 35%;
  border: 2px solid #FF8ADD;
  border-radius: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: grid;
  grid-template-columns: 15fr 1fr;
}
header .search-bar input {
  width: 70%;
  border: none;
  outline: none;
  font-size: 18px;
}
header .search-bar i {
  font-size: 24px;
}
header .icon {
  justify-self: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
header .icon .material-icons {
  font-size: 42px;
}

.banner {
  width: 1280px;
  height: 50vh;
  background-color: #93DEFD;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "baner-info img";
  background: #93DEFD;
  margin: 80px 0;
  padding: 0 50px;
}
.banner img {
  grid-area: img;
  height: 100%;
  overflow: hidden;
  justify-self: end;
}
.banner .baner-info {
  grid-area: baner-info;
  height: 100%;
  justify-self: flex-start;
  display: grid;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
  gap: 24px;
  padding-top: 50px;
}
.banner .baner-info h1:nth-child(1) {
  font-size: 48px;
  color: #FF8ADD;
  justify-self: flex-start;
  line-height: 1px;
}
.banner .baner-info h1:nth-child(2) {
  font-size: 64px;
  justify-self: flex-start;
  color: white;
  line-height: 0%;
}
.banner .baner-info p {
  text-align: left;
}
.banner .baner-info button {
  width: 150px;
  height: 50px;
  padding: 8px 24px;
  background: #FF8ADD;
  color: white;
  border: none;
  outline: none;
  justify-self: flex-start;
}
.banner .baner-info button:hover {
  background-color: #ff69b4;
}

.popular-pordouct {
  width: 1280px;
  margin-top: 88px;
  margin-bottom: 96px;
}
.popular-pordouct h1 {
  padding-left: 50px;
  padding-bottom: 24px;
}
.popular-pordouct .cards::-webkit-scrollbar {
  display: none;
}
.popular-pordouct .cards {
  width: 92%;
  display: grid;
  gap: var(--size-3);
  grid-auto-flow: column;
  grid-auto-columns: 29%;
  overflow-x: scroll;
  overscroll-behavior-inline: contain;
  margin-left: 50px;
}
.popular-pordouct .cards .product-card {
  width: 329px;
  height: 490px;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 15px;
  font-family: Arial, sans-serif;
}
.popular-pordouct .cards .product-card .product-image {
  position: relative;
  width: 332px;
  height: 280px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}
.popular-pordouct .cards .product-card .product-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.popular-pordouct .cards .product-card .product-image .product-social {
  width: 100%;
  position: absolute;
  bottom: 10px;
  padding: 0 20px 0 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 6fr;
  gap: 8px;
}
.popular-pordouct .cards .product-card .product-image .product-social a:nth-child(4) {
  color: #FF8ADD;
  justify-self: end;
  background-color: white;
  width: 25px;
  height: 25px;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  border-radius: 50%;
  padding: 2px 0px 0px 0px;
}
.popular-pordouct .cards .product-card .product-image .product-social a:nth-child(4):hover {
  color: red;
}
.popular-pordouct .cards .product-card .product-image .product-social a:nth-child(1) {
  color: white;
  background-color: blue;
}
.popular-pordouct .cards .product-card .product-image .product-social a:nth-child(2) {
  color: white;
  background-color: #E4405C;
}
.popular-pordouct .cards .product-card .product-image .product-social a:nth-child(3) {
  color: #33ABDF;
  background-color: white;
}
.popular-pordouct .cards .product-card .product-image .product-social a:nth-child(1), .popular-pordouct .cards .product-card .product-image .product-social a:nth-child(2), .popular-pordouct .cards .product-card .product-image .product-social a:nth-child(3) {
  width: 20px;
  height: 20px;
  text-decoration: none;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  font-size: 16px;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.popular-pordouct .cards .product-card .product-image .product-social a:nth-child(1):hover, .popular-pordouct .cards .product-card .product-image .product-social a:nth-child(2):hover, .popular-pordouct .cards .product-card .product-image .product-social a:nth-child(3):hover {
  background-color: #e0e0e0;
}
.popular-pordouct .cards .product-card .product-info {
  padding: 12px;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr 3fr;
  grid-template-columns: auto auto;
  gap: 0px;
}
.popular-pordouct .cards .product-card .product-info h1 {
  padding-left: 0px;
  font-weight: bold;
  font-size: 24px;
  line-height: 0px;
}
.popular-pordouct .cards .product-card .product-info h3 {
  grid-area: 2/1/3/3;
  font-size: 14px;
  font-weight: lighter;
  line-height: 0px;
}
.popular-pordouct .cards .product-card .product-info .product-rating {
  grid-area: 3/1/4/2;
  color: #FFD700;
  align-self: center;
  font-size: 18px;
  margin-top: -10px;
}
.popular-pordouct .cards .product-card .product-info .product-price {
  grid-area: 3/2/4/3;
  font-size: 22px;
  font-weight: bold;
  align-self: center;
  justify-self: end;
  margin-top: -10px;
}
.popular-pordouct .cards .product-card .product-info .buttons {
  grid-area: 4/1/5/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
.popular-pordouct .cards .product-card .product-info .buttons button {
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: -6px;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.popular-pordouct .cards .product-card .product-info .buttons button.detail-button {
  background-color: #add8e6;
  color: #333;
}
.popular-pordouct .cards .product-card .product-info .buttons button.detail-button:hover {
  background-color: #87ceeb;
}
.popular-pordouct .cards .product-card .product-info .buttons button.order-button {
  background-color: #ffb6c1;
  color: #333;
}
.popular-pordouct .cards .product-card .product-info .buttons button.order-button:hover {
  background-color: #ff69b4;
}

.product-container {
  width: 1280px;
  margin-top: 88px;
  margin-bottom: 96px;
}
.product-container h1 {
  padding-left: 50px;
  padding-bottom: 24px;
}
.product-container .cards {
  width: 92%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
  margin: 0 50px;
}
.product-container .cards .product-card {
  width: 329px;
  height: 490px;
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 15px;
  font-family: Arial, sans-serif;
}
.product-container .cards .product-card .product-image {
  position: relative;
  width: 332px;
  height: 280px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  overflow: hidden;
}
.product-container .cards .product-card .product-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.product-container .cards .product-card .product-image .product-social {
  width: 100%;
  position: absolute;
  bottom: 10px;
  padding: 0 20px 0 12px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 6fr;
  gap: 8px;
}
.product-container .cards .product-card .product-image .product-social a:nth-child(4) {
  margin-left: 52%;
  color: #FF8ADD;
  justify-self: end;
  background-color: white;
  width: 25px;
  height: 25px;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  border-radius: 50%;
  padding: 2px 0px 0px 0px;
}
.product-container .cards .product-card .product-image .product-social a:nth-child(4):hover {
  color: red;
}
.product-container .cards .product-card .product-image .product-social a:nth-child(1) {
  color: white;
  background-color: blue;
}
.product-container .cards .product-card .product-image .product-social a:nth-child(2) {
  color: white;
  background-color: #E4405C;
}
.product-container .cards .product-card .product-image .product-social a:nth-child(3) {
  color: #33ABDF;
  background-color: white;
}
.product-container .cards .product-card .product-image .product-social a:nth-child(1), .product-container .cards .product-card .product-image .product-social a:nth-child(2), .product-container .cards .product-card .product-image .product-social a:nth-child(3) {
  width: 20px;
  height: 20px;
  text-decoration: none;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  font-size: 16px;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.product-container .cards .product-card .product-image .product-social a:nth-child(1):hover, .product-container .cards .product-card .product-image .product-social a:nth-child(2):hover, .product-container .cards .product-card .product-image .product-social a:nth-child(3):hover {
  background-color: #e0e0e0;
}
.product-container .cards .product-card .product-info {
  padding: 12px;
  display: grid;
  grid-template-rows: 1fr 1fr 2fr 3fr;
  grid-template-columns: auto auto;
  gap: 0px;
}
.product-container .cards .product-card .product-info h1 {
  padding-left: 0px;
  font-weight: bold;
  font-size: 24px;
  line-height: 0px;
}
.product-container .cards .product-card .product-info h3 {
  grid-area: 2/1/3/3;
  font-size: 14px;
  font-weight: lighter;
  line-height: 0px;
}
.product-container .cards .product-card .product-info .product-rating {
  grid-area: 3/1/4/2;
  color: #FFD700;
  align-self: center;
  font-size: 18px;
  margin-top: -10px;
}
.product-container .cards .product-card .product-info .product-price {
  grid-area: 3/2/4/3;
  font-size: 22px;
  font-weight: bold;
  align-self: center;
  justify-self: end;
  margin-top: -10px;
}
.product-container .cards .product-card .product-info .buttons {
  grid-area: 4/1/5/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
.product-container .cards .product-card .product-info .buttons button {
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  margin-top: -6px;
  font-size: 1rem;
  cursor: pointer;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.product-container .cards .product-card .product-info .buttons button.detail-button {
  background-color: #add8e6;
  color: #333;
}
.product-container .cards .product-card .product-info .buttons button.detail-button:hover {
  background-color: #87ceeb;
}
.product-container .cards .product-card .product-info .buttons button.order-button {
  background-color: #ffb6c1;
  color: #333;
}
.product-container .cards .product-card .product-info .buttons button.order-button:hover {
  background-color: #ff69b4;
}

.new-stock {
  width: 1180px;
  margin: auto;
}
.new-stock h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}
.new-stock .slide-wrapp::-webkit-scrollbar {
  display: none;
}
.new-stock .slide-wrapp {
  width: 100%;
  overflow-x: auto;
}
.new-stock .slide-wrapp .slide {
  height: 50vh;
  width: 100vw;
  display: grid;
  grid-template-areas: "photo1 photo2 photo2 photo5 photo5 photo7 photo8 photo8" "photo1 photo3 photo4 photo6 photo6 photo7 photo9 photo10";
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 5px;
}
.new-stock .slide-wrapp .slide #photo1 {
  grid-area: photo1;
}
.new-stock .slide-wrapp .slide #photo2 {
  grid-area: photo2;
}
.new-stock .slide-wrapp .slide #photo3 {
  grid-area: photo3;
}
.new-stock .slide-wrapp .slide #photo4 {
  grid-area: photo4;
}
.new-stock .slide-wrapp .slide #photo5 {
  grid-area: photo5;
}
.new-stock .slide-wrapp .slide #photo6 {
  grid-area: photo6;
}
.new-stock .slide-wrapp .slide #photo7 {
  grid-area: photo7;
}
.new-stock .slide-wrapp .slide #photo8 {
  grid-area: photo8;
}
.new-stock .slide-wrapp .slide #photo9 {
  grid-area: photo9;
}
.new-stock .slide-wrapp .slide #photo10 {
  grid-area: photo10;
}
.new-stock .slide-wrapp .slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

footer {
  height: 70vh;
  width: 100%;
  background: #DFF5FF;
  padding: 0 50px;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 3%;
}
footer h2 {
  grid-area: 1/1/2/2;
  font-size: 32px;
  color: #80004E;
}
footer .information-clothes {
  grid-area: 2/1/3/2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
footer .information-clothes a {
  text-decoration: none;
  color: #7A7373;
  font-size: 14px;
}
footer .information-clothes .sign-up {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 25px;
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
footer .information-clothes .sign-up h4 {
  font-size: 16px;
  color: #000000;
  text-align: center;
}
footer .information-clothes .sign-up p {
  font-size: 12px;
  color: #93DEFD;
  text-align: center;
}
footer .information-clothes .sign-up button {
  width: 50%;
  padding: 8px 24px;
  background: #FF8ADD;
  color: white;
  border: none;
  outline: none;
  justify-self: center;
}
footer .information-clothes .sign-up button:hover {
  background-color: #ff69b4;
}
footer .foot-last {
  grid-area: 3/1/4/2;
  font-size: 14px;
}

.information h4 {
  color: #454141;
}

.information:nth-child(4) {
  background-color: white;
  border-radius: 10px;
  padding: 3%;
}
.information:nth-child(4) h4 {
  color: #FF8ADD;
}
.information:nth-child(4) p {
  color: #0EB1F3;
  font-size: 0.8rem;
  padding: 3% 0%;
}
.information:nth-child(4) button {
  margin-top: 0;
  padding: 3px 8px;
  border-radius: 100px;
  border: none;
  color: white;
  font-weight: bold;
  background-color: #FF8ADD;
  margin-bottom: 5%;
}/*# sourceMappingURL=clothes.css.map */