@import './componant/varaible';
@import './mixin/group-mixin';
*{
    padding: 0; margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100%;
    overflow-x: hidden;
    .container{
        width: 1280px;
        margin: 0 auto;
        padding: 0 50px;
    }
    main{
        width: 1280px;
    }
}
@import './componant/header';
@import './componant/card';
@import './componant/banner';
@import './componant/product-slide';
@import './componant/footer';
