@mixin align-right{
    display: grid;
    justify-content: flex-end;
    text-align: right;
    gap: 24px;
}

@mixin align-left{
    display: grid;
    justify-content: flex-start;
    text-align: left;
}

@mixin button($color){
    padding: 8px 24px;
    background: $color;
    color: white;
    border: none;
    outline: none;
    &:hover {
        background-color: #ff69b4;
      }
}